<h1>Current Generation Platforms</h1>
<ol>
	<% @platforms.collect do |platform| %>
	<li><%= platform.console %></li>
	<%end%>
</ol>

<ol>
<div class="center">
<button><%= link_to "Add a Game", new_game_path%></button>
<button><%= link_to "Rate a Game", new_rating_path%></button>
</div></ol>
