
<h1>Welcome to your Dashboard! </h1>

<h3>Here are the Games you've recently reviewed </h3>


	<% @games.take(10).each do |game| %>
	<li><%= link_to game.title, game_ratings_path(game)%></li>
	<%end%>
	
<Br></Br>

<ol>
<div class="center">
<button><%= link_to "Add a Game", new_game_path%></button>
<button><%= link_to "Rate a Game", new_rating_path%></button>
<button><%= link_to "View Games", games_path%></button>
</div></ol>