
<h1>Welcome to your Dashboard! </h1>

<h3>Here are the Games you've recently reviewed </h3>


	<% @ratings.each do |game| %>
	<li><%= link_to game.game.title, game_path(game)%></li>
	<%end%>
	
<Br></Br>
<ol><%= button_to "Add a Game", new_game_path, :method => "get" %></ol>

