
<h1>Welcome to your Dashboard! </h1>

<h3>Here are the Games you've recently reviewed </h3>

<ul>
	<li>
  <%= link_to "Add a Game", new_game_path %></li>
  <li><%= link_to "Rate a Game", new_rating_path %></li>
</ul>