<h1> Here are all the Games </h1>
<ol>
	<% @games.each do |game| %>
	<% if game.user_id = User.last %>
	<h2><li><%= game.title %></li></h2>
	<%= game.description %>
	<%= link_to "Rate this game", new_game_rating_path(game)%>
	<%end%>
	<br></br>
	<%end%>
</ol>